<!doctype html>
<html>
  <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <%- include('partials/nav.ejs') %>

    <h1  > Contact success !! Bitch </h1>
    <p style="font-weight:bold"> Yeah did that shit bitch! Contacted us! Yo!</p>
    <p> <%= data.who %> </p>
    <p> <%= data.department %> </p>
    <p> <%= data.email %> </p>
    </ul>
  </body>
</html>