<!doctype html>
<html>
  <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <script> </script>
  </head>
  
  <body>
    <%- include('partials/nav.ejs') %>
    <h1 > My heading in blue </h1>
    <h2> Acting smart yo!  </h2>
    <p > paragraph  </p>
  </body>
</html>